.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.topSection {
  background-color: var(--color-background);
  position: relative;
}

.benefitsWrapper {
  position: relative;
  z-index: 10;
  padding: 0;
}

.middleSection {
  background-color: var(--color-beige);
  padding-top: 1rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

@media (min-width: 1024px) {
  .middleSection {
    padding-top: 2rem;
    padding-bottom: 10rem;
  }
}



.bottomSection {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}