.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topSection {
  background-color: var(--color-background);
  position: relative;
}

.benefitsWrapper {
  position: relative;
  z-index: 10;
  padding: 0;
  margin-top: -3rem;

}

.middleSection {
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.bottomSection {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}